<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<!-- <div class="row">
    <div class="col-md-7">
        
        <router-outlet></router-outlet>
    </div>
</div> -->
<router-outlet></router-outlet>
<br>
<app-customer-list></app-customer-list>

<!-- <div class="row">
    <div class="col-md-5">
        <app-customer-list></app-customer-list>
    </div>
</div> -->
