<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="row-xs-12">
    <div class="col-xs-4 btn_c"> 
        <button class="btn btn-success"
        (click)="onShow()">Show Products</button>
    </div>
    <div class="col-xs-4 btn_c">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Products</button>
    </div>
    <div class="col-xs-4 btn_c">
        <button class="btn btn-success"
        (click)="onNew()">New Product</button>
    </div>
</div>
<br>
<br>
<br>
<!-- <hr> -->

<div *ngIf="productsVisibility">
    <div class="d-flex justify-content-center">
        <pagination-controls 
          id="basicPaginate"
          responsive="true" 
          directionLinks="true"
          autoHide="true"
          previousLabel="Prev" 
          nextLabel="Next" 
          screenReaderPaginationLabel="Pagination"
          (pageChange)="onTableDataChange($event)"
          >
        </pagination-controls>
    </div>
    
    <!-- *ngFor="let productEl of products | paginate : table_config; let i = index" -->

    <!-- <div class="col-xs-12"  *ngFor="let productEl of products | paginate : table_config; let i = index" >
        <div class="col-xs-6 left-style">
            <app-product-item
            *ngIf="i%2 == 0"
            [product]="productEl"
            ></app-product-item>
        </div>
        <div class="col-xs-6 right-style">
            <app-product-item
            *ngIf="i%2 != 0"
            [product]="productEl"
            ></app-product-item>
        </div>
        
    </div> -->

    <!-- style="column-count: 3;column-gap: 20px;column-width: auto;"  -->

   

    <!-- <div class="col-xs-12">
        <app-product-item
        *ngFor="let productEl of products | paginate : table_config; let i = index"
        [product]="productEl"
        ></app-product-item>
    </div> -->

    <div class="grid">
        <ng-container 
        *ngFor="let productEl of products | paginate : table_config; let i = index">
            <!-- <label>{{productEl.id}}</label> -->
                <app-product-item
            [product]="productEl"
            ></app-product-item>
        </ng-container>
        
    </div>
    
</div>


