<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>

<div class="row">
    <div class="col-xs-3">
        <button class="btn btn-success"
        (click)="onShow()">Show Products</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Products</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-success"
        (click)="onNew()">New Product</button>
    </div>
</div>

<hr>

<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="row" *ngIf="productsVisibility">
    <div class="d-flex justify-content-center">
        <pagination-controls 
          id="basicPaginate"
          responsive="true" 
          directionLinks="true"
          autoHide="true"
          previousLabel="Prev" 
          nextLabel="Next" 
          screenReaderPaginationLabel="Pagination"
          (pageChange)="onTableDataChange($event)"
          >
        </pagination-controls>
    </div>
    
    <div class="col-xs-12">
        <app-product-item
        *ngFor="let productEl of products | paginate : table_config; let i = index"
        [product]="productEl"
        ></app-product-item>
    </div>

    
</div>


