<div class="row">
    <div class="col-xs-3">
        <button class="btn btn-success"
        (click)="onShow()">Show Products</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Products</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-success"
        (click)="onNew()">New Product</button>
    </div>
</div>

<hr>

<div class="row" *ngIf="productsVisibility">
    <div class="col-xs-12">
        
        <app-product-item
        *ngFor="let productEl of products; let i = index"
        [product]="productEl"
        ></app-product-item>
    </div>
</div>
