<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">ID : </label>
                        <input
                            type="text"
                            id="id"
                            formControlName="id"
                            class="form-control"
                            [readonly]="true">
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cust_id">Billed To : (Customer's Id)</label>
                        <select 
                        #custIdSelect 
                        class="form-control" 
                        id="cust_id" 
                        formControlName="cust_id"
                        [(ngModel)]="selectedCustId">
                            <option value="" disabled selected>{{placeholder}}</option>
                            <option *ngFor="let id of cust_ids; let i = index" [(value)]="cust_ids[i]">{{ id }}</option>
                          </select>
                    </div>
                </div>
            </div>     -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cust_name">Billed To : (Customer's Name)</label>
                        <!-- <input type="search" [(ngModel)]="searchText" placeholder="Search text"> -->
                        <input
                            type="search"
                            placeholder="Search text"
                            id="cust_name"
                            [formControl]="cust_name_control"
                            class="form-control">
                    </div>
                    <ul *ngFor="let cust_n of customers | filter: cust_name">
                        <li>{{cust_n.name}}</li>
                      </ul>
                </div>
            </div>  
              
            <div class="row" *ngIf="!!selectedCustId">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Customer's Name</label>
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>     
            
            <div class="row" *ngIf="!!selectedCustId">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="mobile_no">Customer's Mobile No</label>
                        <input
                        type="number"
                        id="mobile_no"
                        formControlName="mobile_no"
                        class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row" *ngIf="!!selectedCustId">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Customer's Address</label>
                        <textarea
                            type="text"
                            id="address"
                            formControlName="address"
                            class="form-control"
                            rows="2"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="row" *ngIf="!!selectedCustId">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="gst_no">Customer's GST No</label>
                        <input
                        type="number"
                        id="gst_no"
                        formControlName="gst_no"
                        class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Products to buy: </label>
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>  

            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!invoiceForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
