<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
            
            <div class="row" >
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">ID : </label>
                        <input
                            type="text"
                            id="id"
                            formControlName="id"
                            class="form-control"
                            [readonly]="true">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cust_name_filter">Billed To : (Customer's Name)</label>
                        <br>
                        <button          
                        type="button"
                        class="btn btn-success"
                        (click)="onClickCustSearchBtn()">Search</button>
                        
                        <button
                        #divClick
                        type="button"
                        class="btn btn-success"
                        (click)="onClickCustSearchBtn2()">Refresh</button>
                        <!-- <input 
                        #search class="search" 
                        type="text" 
                        placeholder="Search..." 
                        [formControl]="cust_input_name_control"
                        class="form-control"
                        (keydown.enter)="onSearch(search.value)"> -->
                        <br><br>

                        <ng2-smart-table
                            *ngIf="show_cust_search_flag && !selectedCustId_flag" 
                            [settings]="settings" 
                            [source]="source" 
                            (custom)="onCustomAction($event)"
                        ></ng2-smart-table>
                        <ng2-smart-table
                            *ngIf="selectedCustId_flag" 
                            [settings]="newSettings" 
                            [source]="source" 
                        ></ng2-smart-table>
                        
                        <!-- <input type="search" [(ngModel)]="searchText" placeholder="Search text">  *ngIf="(!!customers)"-->
                         <!-- <input
                            type="search"
                            list="customersname"
                            [(ngModel)]="selectedCustId"
                            placeholder="Search Customer"
                            id="cust_name_filter"
                            [formControl]="cust_name_control"
                            class="form-control"> -->
                        <!--    <div class="panel panel-default panel-body datalist" *ngIf="(!!customers) && customers.length > 0  && !(customers.length == 1 && customers[0].id == selectedCustId)">
                                <ul>
                                    <li *ngFor="let cust_n of customers | filter: cust_name_filter">
                                    <a style="cursor:pointer;" (click)="selectCustId(cust_n.id)">{{ cust_n.name }} : ID - {{ cust_n.id }}</a></li>
                                </ul>
                            </div> -->
                    </div>
                    
                </div>
            </div>  

<!-- ###################################################################################### -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="prod_name_filter">Products to sell:</label>
                        <br>
                        <label for="prod_name_filter">Select Product:</label>
                        <!-- <input type="search" [(ngModel)]="searchText" placeholder="Search text"> -->
                        <input
                            type="search"
                            list="productsname"
                            [(ngModel)]="selectedProdId"
                            placeholder="Search Product"
                            id="prod_name_filter"
                            [formControl]="prod_name_control"
                            class="form-control">
                            <div class="panel panel-default panel-body datalist" *ngIf="(!!products) && products.length > 0  && !(products.length == 1 && products[0].id == selectedProdId)">
                                <ul>
                                    <li *ngFor="let prod_n of products | filter: prod_name_filter">
                                    <a style="cursor:pointer;" (click)="selectProdId(prod_n.id)">{{ prod_n.name }} : ID - {{ prod_n.id }}</a></li>
                                </ul>
                            </div>
                    </div>
                    
                </div>
            </div> 
            
            
            <!-- <div *ngIf="(!!products_to_sell) && products_to_sell.length > 0 ">
                <label for="prod_name_filter">List :</label>
                <input
                *ngFor="let prod_n of products_to_sell"
                type="text"
                value = "{{prod_n.name}} with ID: {{prod_n.id}}"
                class="form-control"
                [readonly]="true">            
            </div> -->

            <div *ngIf="(!!products_to_sell) && products_to_sell.length > 0 ">
                <label for="prod_name_filter">List :</label>
                <ul>
                    <li *ngFor="let prod_n of products_to_sell">
                        {{prod_n.name}} with ID: {{prod_n.id}}
                    </li>
                </ul>            
            </div>
<!-- #################################### product details ################################################## -->

            <div class="row" *ngIf="!!selectedProdId_flag">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button 
                        type="button" 
                        class="btn btn-success"
                        (click)="onSelectProdBtn()"
                        >Select Product</button>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="!!selectedProdId_flag">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="prod_id">ID : </label>
                        <input
                            type="text"
                            id="prod_id"
                            [formControl]="prod_id"
                            class="form-control"
                            [readonly]="true"
                            style="border: 3px solid red;">
                    </div>
                </div>
            </div>  
            
            <div class="row" *ngIf="!!selectedProdId_flag">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="prod_name">Name</label>
                        <input
                            type="text"
                            id="prod_name"
                            [formControl]="prod_name"
                            class="form-control"
                            [readonly]="true"
                            style="border: 3px solid red;">
                    </div>
                </div>
            </div>            
            
            <div class="row" *ngIf="!!selectedProdId_flag">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="prod_description">Description</label>
                        <textarea
                            type="text"
                            id="prod_description"
                            [formControl]="prod_description"
                            class="form-control"
                            rows="3"
                            [readonly]="true"
                            style="border: 3px solid red;"></textarea>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="!!selectedProdId_flag">
                <div class="col-xs-12">
                    <img 
                    [src]="prod_imagePath.value" 
                    class="img-responsive" 
                    style="max-height: 150px;max-width: 150px;">
                </div>
            </div>

            <div class="row" *ngIf="!!selectedProdId_flag">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="prod_price">Price</label>
                        <input
                        type="number"
                        id="prod_price"
                        [formControl]="prod_price"
                        class="form-control"
                        [readonly]="true"
                        style="border: 3px solid red;">
                    </div>
                </div>
            </div>

<!-- ###################################################################################### -->

            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!invoiceForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
