<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
            
            <div class="row" >
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">ID : </label>
                        <input
                            type="text"
                            id="id"
                            formControlName="id"
                            class="form-control"
                            [readonly]="true">
                    </div>
                </div>
            </div>

<!-- ##################################### Customers ################################################# -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Billed To : (Customer's Name)</label>
                        <br>
                        <button          
                        type="button"
                        class="btn btn-success"
                        (click)="onClickCustSearchBtn()">Search</button>
                        
                        <button
                        #cust_divClick
                        type="button"
                        class="btn btn-success"
                        (click)="onClickCustSearchBtn2()">Refresh</button>
                        <br><br>

                        <ng2-smart-table
                            *ngIf="show_cust_search_flag && !selectedCustId_flag" 
                            [settings]="cust_settings" 
                            [source]="cust_source" 
                            (custom)="onCustomAction_cust($event)"
                        ></ng2-smart-table>
                        <ng2-smart-table
                            *ngIf="selectedCustId_flag" 
                            [settings]="cust_newSettings" 
                            [source]="cust_source" 
                        ></ng2-smart-table>
                    </div>
                </div>
            </div>  

<!-- ##################################### Products ################################################# -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="prod_name_filter">Products to sell:</label>
                        <br>
                        <label for="prod_name_filter">Select Product:</label>
                        <br>

                        <button          
                        type="button"
                        class="btn btn-success"
                        (click)="onClickProdSearchBtn()"
                        >Search</button>
                        
                        <button
                        #prod_divClick
                        type="button"
                        class="btn btn-success"
                        (click)="onClickProdSearchBtn2()">Refresh</button>

                        <div *ngIf="show_prod_search_flag">
                            <br><br>
                            <button 
                            class="btn btn-success" 
                            type="button"
                            (click)="onSelectProducts()"> Select Products </button>
                            <br><br>
                        </div>
                        
                        <ng2-smart-table
                            *ngIf="show_prod_search_flag" 
                            [settings]="prod_settings" 
                            [source]="prod_source" 
                            (userRowSelect)="onRowSelect($event)"
                        ></ng2-smart-table>

                        <div *ngIf="selectedProdId_flag" >
                            <br><br>
                            <ng2-smart-table
                                [settings]="prod_newSettings" 
                                [source]="selected_prod_source" 
                                (custom)="onCustomAction_prod($event)"
                            ></ng2-smart-table>
                        </div>
                        
                    </div>
                    
                </div>
            </div> 
 

<!-- ##################################### End ################################################# -->

            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!invoiceForm.valid">Create Invoice</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
