<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="row">
    <div class="col-md-7">
        <!-- <app-invoice-detail
        *ngIf="selectedInvoice; else infoText"
        [invoice]="selectedInvoice"></app-invoice-detail>
        <ng-template #infoText>
            <p>Please select invoice !</p>
        </ng-template> -->
        <router-outlet></router-outlet>
    </div>
</div>

<br>


<div class="row">
    <div class="col-md-5">
        <app-invoice-list></app-invoice-list>
    </div>
</div>
