<div class="row">
    <div class="col-xs-3">
        <button class="btn btn-success"
        (click)="onShow()">Show Customers</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Customers</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-success"
        (click)="onNew()">New Customer</button>
    </div>
</div>

<hr>

<div class="row" *ngIf="customersVisibility && !!customers">
    <div class="col-xs-12">
        
        <app-customer-item
        *ngFor="let customerEl of customers | paginate : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          }; let i = index"
        [customer]="customerEl"
        ></app-customer-item>
    </div>
    <!-- <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->

    <div class="d-flex justify-content-center">
        <pagination-controls 
          responsive="true" 
          previousLabel="Prev" 
          nextLabel="Next" 
          (pageChange)="onTableDataChange($event)"
          >
        </pagination-controls>
      </div>

</div>