<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="row-xs-12">
    <div class="col-xs-4 btn_c">
        <button class="btn btn-success"
        (click)="onShow()">Show Customers</button>
    </div>
    <div class="col-xs-4 btn_c">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Customers</button>
    </div>
    <div class="col-xs-4 btn_c">
        <button class="btn btn-success"
        (click)="onNew()">New Customer</button>
    </div>
</div>

<br>
<br>
<br>
<!-- <hr> -->

<div class="row" *ngIf="customersVisibility && !!customers">
    <div class="d-flex justify-content-center">
        <pagination-controls 
          id="basicPaginate"
          responsive="true" 
          directionLinks="true"
          autoHide="true"
          previousLabel="Prev" 
          nextLabel="Next" 
          screenReaderPaginationLabel="Pagination"
          (pageChange)="onTableDataChange($event)"
          >
        </pagination-controls>
    </div>

    <!-- <div class="col-xs-12">
        
        <app-customer-item
        *ngFor="let customerEl of customers | paginate : table_config; let i = index"
        [customer]="customerEl"
        ></app-customer-item>
    </div> -->

    <div class="grid">
        <ng-container 
        *ngFor="let customerEl of customers | paginate : table_config; let i = index">
                <app-customer-item
                [customer]="customerEl"
                ></app-customer-item>
        </ng-container>
    </div>

</div>