<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div    style="float: right;"
        class="btn-group"
         appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Invoice <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a (click)="onPrintInvoice()" style="cursor: pointer;">Print Invoice</a></li>
                <li><a style="cursor: pointer;" (click)="onEditInvoice()">Edit Invoice</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteInvoice()">Delete Invoice</a></li>
            </ul>
</div>

<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

<div class="row">
    <div class="col-xs-12">
        <h1>Invoice ID : {{ invoice.id }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="cDate">Created Date : </label>
            <input
                type="text"
                id="cDate"
                formControlName="cDate"
                class="form-control"
                [readonly]="true">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="uDate">Updated Date : </label>
            <input
                type="text"
                id="uDate"
                formControlName="uDate"
                class="form-control"
                [readonly]="true">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label>Billed To : (Customer's Name)</label>
            <ng2-smart-table 
                [settings]="cust_newSettings" 
                [source]="cust_source"
            ></ng2-smart-table>
        </div>
    </div>
</div>  

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="prod_name_filter">Sold Products :</label>
            <div>
                <ng2-smart-table
                    [settings]="prod_newSettings" 
                    [source]="prod_source" 
                ></ng2-smart-table>
            </div>
        </div>
    </div>
</div> 
<div>
    <label for="total_gst">Total GST(%): </label>
    <input
    type="text"
    id="total_gst"
    formControlName="total_gst"
    class="form-control"
    [readonly]="true">

    <label for="total_discount">Total Discount: </label>
    <input
    type="text"
    id="total_discount"
    formControlName="total_discount"
    class="form-control"
    [readonly]="true">

    <label 
    for="total_price"
    style="color: red;">Total Price: </label>
    <input
    type="text"
    id="total_price"
    formControlName="total_price"
    class="form-control"
    [readonly]="true">
</div>
</form>
<!-- ########################################################################## -->
<br>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-danger"
        (click)="onCancelEditing()">Close</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>

<!-- <div class="row">
    <div class="col-xs-12">
        {{ invoice.description }}
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-xs-12">
         <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient_in of invoice.ingredients">
                {{ ingredient_in.name }} - {{ ingredient_in.amount }}
            </li>
        </ul>
    </div>
</div> -->