<a 
style="cursor: pointer;"
[routerLink]="[invoice.id]"
routerlinkActive="active"
class="list-group-item clearfix">
        <div class="pull-left">
            <h4 class="list-group-item-heading">INVOICE ID : {{ invoice.id }}</h4>
            <p class="list-group-item-text">Created Date : {{ invoice.created_date_time }}</p>
            <p class="list-group-item-text">Updated Date : {{ invoice.updated_date_time }}</p>
            <p class="list-group-item-text">Customer's Name : {{ invoice.customer.name }}</p>
            <p class="list-group-item-text">Total Price : {{ invoice.total_price }}</p>

        </div>
        <!-- <span class="pull-right">
            <img src="{{ invoice.imagePath }}" 
            alt="{{ invoice.name }}"
            class="img-responsive" 
            style="max-height: 150px;max-width: 150px;">
        </span> -->
    </a>
