<div class="row">
    <div class="col-xs-3">
        <button class="btn btn-success"
        (click)="onShow()">Show Invoices</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Invoices</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-success"
        (click)="onNew()">New Invoice</button>
    </div>
</div>

<hr>

<div class="row" *ngIf="invoicesVisibility">
    <div class="col-xs-12">
        
        <app-invoice-item
        *ngFor="let invoiceEl of invoices; let i = index"
        [invoice]="invoiceEl"
        ></app-invoice-item>
    </div>
</div>