<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="row">
    <div class="col-xs-3">
        <button class="btn btn-success"
        (click)="onShow()">Show Invoices</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-danger"
        (click)="onHide()">Hide Invoices</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <button class="btn btn-success"
        (click)="onNew()">New Invoice</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-3">
        <label style="color: snow;">Search By Name</label>
        <input #box (keyup.enter)="searchByName(box.value)">
    </div>
</div>

<hr>

<div class="row" *ngIf="invoicesVisibility">
    <div class="d-flex justify-content-center">
        <pagination-controls 
          id="basicPaginate"
          responsive="true" 
          directionLinks="true"
          autoHide="true"
          previousLabel="Prev" 
          nextLabel="Next" 
          screenReaderPaginationLabel="Pagination"
          (pageChange)="onTableDataChange($event)"
          >
        </pagination-controls>
    </div>
    
    <div class="col-xs-12">
        
        <app-invoice-item
        *ngFor="let invoiceEl of invoices | paginate : table_config; let i = index"
        [invoice]="invoiceEl"
        ></app-invoice-item>
    </div>
</div>